@import "tailwindcss";

:root {
  --primary: #F59E0B;
  --dark: #111111;
  --light: #ffffff;
  --gray: #f5f5f5;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: system-ui, sans-serif;
}